html {
    font-size: 16px;
}

p, li a {
    font-size: 16px;
}

.lead {
    font-size: 1rem;
}

.navbar {
    background: none;
    border-color: #fdc857;
    background-color: #fdc857;
    font-family: 'Roboto', sans-serif;
}

.navbar.navbar-expand-md.navbar-light li a{
    color: black !important;
    font-size: 1.05rem;
}

#masthead {
    padding: 26.25vh;
    height: 75vh;
    width: 100%;
    background-color: #fdc857;
    background-image: url("../resources/indexBackground.png");
    background-position: top;
    top: 0px;
    left: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    
}

#masthead h1 {
    font-size: 3.5rem;
    font-family: 'Chivo', sans-serif;
}
 
#masthead h3 {
    padding-bottom: 3vh;
    font-family: 'Roboto', sans-serif;
}

.btn {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#what-text {
    padding-top: 20vh;
    padding-left: 40vh;
    height: auto;
    width: 100%;
}

#what img {
    margin-top: 15vh;
    height: auto;
    width: 50%;
}

#footer-main h5 {
    font-size: 1rem;
}

#footer-main {
    background-color: #000000;
    padding-top: 5vh;
    padding-bottom: 2vh;
}

#footer-main h5 {
    color: grey;
}

#footer-main a {
    color: white;
}

#copyright {
    color: white;
}

#navbar-footer {
    font-size: 0.75rem;
}

#navbar-footer a {
    font-size: 0.65rem;
}

@media screen and (min-width: 300px) and (max-width: 499px) {
    h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
    }

    h4 {
        font-size: 1rem;
        text-align: center;
    }

    h5 {
        font-size: 1rem;
    }

    #masthead {
        height: 100vh;
    }

    #navbar-footer {
        font-size: 0.65rem;
    }

    #navbar-footer a {
        font-size: 0.65rem;
    }

}

@media screen and (min-width: 499px) and (max-width: 768px) {
    h1 {
        font-size: 2rem;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    h3 {
        font-size: 1.25rem;
        text-align: center;
    }

    h4 {
        font-size: 1rem;
        text-align: center;
    }

    h5 {
        font-size: 1rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 999px) {
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    h2 {
        font-size: 1.85rem;
        text-align: center;
    }

    h3 {
        font-size: 1.375rem;
        text-align: center;
    }

    h4 {
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (min-width: 999px) and (max-width:1249px) {

}

@media screen and (min-width: 1249px) and (max-width: 1499px) {

}

@media screen and (min-width: 1499px) and (max-width: 1749px) {

}

@media screen and (min-width: 1749px) and (max-width: 2149px) {

}

@media screen and (min-width: 2149px) {
    html {
        font-size: 16px;
    }
}